<h3>Update</h3>
@inject BlazorServerUi.Data.IPersonCrud pc
<EditForm Model="SinglePerson" OnValidSubmit="ValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="FullName" @bind-Value="SinglePerson.FullName" />
    <InputText id="Email" @bind-Value="SinglePerson.Email" />
    <InputText id="Gender" @bind-Value="SinglePerson.Gender" />
    <InputDate id="DOB" @bind-Value="SinglePerson.DOB" />

    <button type="submit" class="btn btn-outline-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public BlazorServerUi.Models.PersonModel SinglePerson { get; set; }
    
    private async Task ValidSubmit()
    {
        await pc.UpdatePerson(SinglePerson);
    }
}
